.linkbutton {
    height: $buttonheight;
    width: $buttonwidth;
    background-color: transparent;
    color: $smoky-black !important;
    font-family: $font-display;
    text-transform: uppercase;
    border: $border;
    transition: $transistion;
    box-shadow: $box-shadow-small;
}

.linkbutton:hover {
    transform: $transform-small;
    transition: $transistion;
    box-shadow: $box-shadow-after-small;
    text-decoration: underline;
}