.projectcard {
    height: 350px;
    width: 300px;
    margin: 30px 0;
    border: $border;
    box-shadow: $box-shadow;
    transition: $transistion;
    &__image {
        min-width: 100%;
        min-height: 50%;
        border-radius: 10px 10px 0px 0px;
    }
    &__info {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-top: 1px solid black;
        &__title {
        font-family: $font-display;
        color: black;
        padding: 10px;
        }
        &__text {
            font-family: $font-sans;
            color: black;
            padding: 0 10px;
        }
        &__small {
            font-family: $font-sans;
            font-size: smaller;
            color: gray;
            padding: 0 10px;
        }
    }
}

.projectcard:hover {
    text-decoration: none;
    transform: $transform;
    box-shadow: $box-shadow-after;
    transition: $transistion;
}