.footer {
    height: 150px;
    background-color: $smoky-black;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 20px 15px;
        &__links {
            width: 300px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            &__link {
                font-family: $font-display;
                color: $white;
                text-transform: uppercase;
            }
            &__link:hover {
                text-decoration: underline;
                color: $white;
            }
        }
        &__middle {
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            &__logo {
                font-family: $font-display;
                font-size: 30px;
                color: $white;
            }
            &__copyright {
                font-family: $font-sans;
                color: $white;
            }
        }
        &__social {
            width: 300px;
            padding: 10px 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            &__logo {
                width: 25px;
                height: 25px;
            }
        }
    }
}

.activefooter {
    font-family: $font-display;
    color: $white;
    text-transform: uppercase;
}

.activefooter:hover {
    color: $white;
}