.navcontainer {
    background-color: $smoky-black;
    position: sticky;
    top: 0;
    z-index: 999999;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $nav-height;
    padding: 0 15px;
    &__home {
        font-family: $font-display;
        font-size: 30px;
        color: $white;
    }
    &__home:hover {
        color: $white;
        text-decoration: none;
    }
    &__list {
        display: flex;
        &__link {
            margin: 0 0 0 50px;
            font-family: $font-display;
            color: $white;
            text-transform: uppercase;
            padding: 10px;
            border: 2px solid transparent;
        }
        &__link:hover {
            color: $white;
            text-decoration: underline;
        }
    }
}

.active {
    filter: invert(100%);
    margin: 0 0 0 50px;
    font-family: $font-display;
    color: $smoky-black;
    text-transform: uppercase;
    border: $border;
    box-shadow: $box-shadow-small;
    padding: 10px;
}

.active:hover {
    color: $smoky-black;
}

.activehome, .activehome:hover {
    font-family: $font-display;
        font-size: 30px;
        color: $white;
        text-decoration: none;
}