.contact {
    &__intro {
        padding-top: $sectionpadding;
        &__inner {
            &__title {
                font-family: $font-display;
                color: $smoky-black;
                padding-bottom: $sectionpadding;
            }
        }
    }
    &__form {
        padding-bottom: $sectionpadding;
        &__inner {
            &__form {
                padding: 0 $sectionpadding;
                width: 100%;
                &__section {
                    display: flex;
                    flex-direction: column;
                    padding-bottom: 50px;
                    &__label {
                    font-family: $font-display;
                    text-transform: uppercase;
                    font-size: 20px;
                    }
                    &__input {
                        font-family: $font-sans;
                        padding: 10px;
                        height: 50px;
                        border: $border;
                        box-shadow: $box-shadow;
                        transition: $transistion;
                    }
                    &__input:focus {
                        transform: $transform;
                        box-shadow: $box-shadow-after;
                        outline: $border;
                        transition: $transistion;
                    }
                    &__textarea {
                        font-family: $font-sans;
                        padding: 10px;
                        height: 200px;
                        border: $border;
                        box-shadow: $box-shadow;
                        transition: $transistion;
                    }
                    &__textarea:focus {
                        transform: $transform;
                        box-shadow: $box-shadow-after;
                        outline: $border;
                        transition: $transistion;
                    }
                }
                &__button {
                    
                }
            }
        }
    }
}