.index {
    background-color: $white;
    &__hero {
        height: 500px;
        background-color: $smoky-black;
        &__inner {
            filter: invert(100%);
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1 {
                color: $smoky-black;
                font-family: $font-display;
                font-size: 45px;
            }
            p {
                color: $smoky-black;
                font-family: $font-sans;
                margin: 20px 0 40px 0;
            }
        }
    }
        &__projects {
            padding-top: $sectionpadding;
            margin-bottom: $sectionpadding;
            &__inner {
                &__title {
                font-family: $font-display;
                }
                &__container {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }
            }
        }
        &__services {
            padding-top: $sectionpadding;
            &__inner {
                &__service {
                    display: flex;
                    margin-bottom: $sectionpadding;
                    &__image {
                        padding: 50px;
                        width: 300px;
                        height: 300px;
                        border: $border;
                        box-shadow: $box-shadow;
                    }
                    &__desc {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin: auto 0;
                        &__title {
                            font-family: $font-display;
                            color: $smoky-black;
                        }
                        &__text {
                            font-family: $font-sans;
                            color: $smoky-black;
                        }
                    }
                }
            }
        }
        &__questions {
            margin-top: $sectionpadding;
            &__inner {
                display: flex;
                padding-bottom: $sectionpadding;
                &__mark {
                height: 200px;
                font-size: 250px;
                font-family: $font-display;
                vertical-align: middle;
                line-height: 200px;
                padding-right: 25px;
                border-right: $border;
                color: $smoky-black;
                }
                &__desc {
                    height: 200px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    padding-left: 25px;
                    &__title {
                        font-family: $font-display;
                        color: $smoky-black;
                    }
                    &__text {
                        font-family: $font-sans;
                        color: $smoky-black;
                    }
                }
            }
        }
}