.about {
    &__hello {
        padding-top: $sectionpadding;
        &__inner {
            &__top {
                display: flex;
                justify-content: space-between;
                &__title {
                    font-family: $font-display;
                    margin-bottom: $sectionpadding-small;
                }
                &__cv {
                    display: flex;
                    &__text {
                        height: 30px;
                        font-family: $font-sans;
                        vertical-align: middle;
                        text-align: center;
                        line-height: 30px;
                        margin-right: 10px;
                    }
                    &__button {
                        height: 30px;
                        width: 30px;
                        border: $border;
                        box-shadow: $box-shadow-small;
                        background-color: transparent;
                        transition: $transistion;
                        padding: 0px;
                    }
                    &__button:hover {
                        transform: $transform-small;
                        transition: $transistion;
                        box-shadow: $box-shadow-after-small;
                    }
                    &__button:focus {
                        outline: none;
                        transition: $transistion;
                    }
                }
            }
            &__text {
                font-family: $font-sans;
            }
        }
    }
    &__coding {
        padding-top: $sectionpadding;
        &__inner {
            &__title {
                font-family: $font-display;
            }
            &__subtitle {
                font-family: $font-display;
                margin-top: $sectionpadding-small;
            }
            &__text {
                font-family: $font-sans;
            }
            &__list {
                font-family: $font-sans;
            }

        }
    }
    &__design {
        padding: $sectionpadding 0;
        &__inner {
            &__title {
                font-family: $font-display;
                margin-bottom: $sectionpadding-small;
            }
            &__text {
                font-family: $font-sans;
            }
            &__list {
                font-family: $font-sans;
            }
        }
    }
}