// Core

// Fonts
$font-display: 'Patua One';
$font-sans: 'Open Sans';

// Colours
$smoky-black: #140f0b;
$white: #f5f5f5;
$yellow: #ffae42;

// Brand
$border: 2px solid $smoky-black;
$box-shadow: 12px 10px 0 0 $smoky-black;
$box-shadow-small: 6px 5px 0 0 $smoky-black;

// Animations
$transform: translate(-5px, -5px);
$transform-small: translate(-2px, -2px);
$transistion: all 0.3s ease;
$box-shadow-after: 17px 15px 0 2px $smoky-black;
$box-shadow-after-small: 8px 7px 0 1px $smoky-black;

// Sizes
$nav-height: 75px;
$sectionpadding: 75px;
$sectionpadding-small: 25px;
$buttonheight: 50px;
$buttonwidth: 150px;